body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #eaff00;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 2em;
}

h2 {
    color: #ffffff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}